<?xml version="1.0" encoding="utf-8"?>
<!-- This manifest is only for unit testing (robolectric wants it) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="v2.com.playhaven.test.unit"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application android:icon="@drawable/icon" android:label="Dummy API Manifest">

        <activity android:name="v2.com.playhaven.interstitial.PHInterstitialActivity" android:theme="@android:style/Theme.Translucent"
                  android:windowSoftInputMode="adjustResize"></activity>

        <!-- We declare the old content view to ensure compatability testing -->
        <activity android:name="com.playhaven.src.publishersdk.content.PHContentView" android:theme="@android:style/Theme.Translucent"
                  android:windowSoftInputMode="adjustResize"></activity>

    </application>
</manifest>